.dadosProjeto {}

.dadosProjeto__infos {
  margin-top: 3.5rem;
}

.dadosProjeto__infos--titulo {
  margin-bottom: 1rem;
}

.dadosProjeto__infos--nome {
  width: 100%;
  height: 3.5rem;
  border-radius: 8px;
  background-color: var(--form-700);
  border: none;
  padding: 0 .875rem;
  margin-bottom: 1rem;
  color: var(--cinza-200);
  transition: .3s;
}

.dadosProjeto__infos--nome:hover {
  background-color: var(--form-500);
}

.dadosProjeto__infos--nome::placeholder {
  color: var(--cinza-200);
}

.dadosProjeto__infos--descricao {
  width: 100%;
  height: 5rem;
  resize: none;
  border-radius: 8px;
  background-color: var(--form-700);
  border: none;
  padding: 1rem .875rem;
  color: var(--cinza-200);
  transition: .3s;
}

.dadosProjeto__infos--descricao:hover {
  background-color: var(--form-500);
}

.dadosProjeto__infos--descricao::placeholder {
  color: var(--cinza-200);
}

.dadosProjeto__estilos {
  margin-top: 3.5rem;
}

.dadosProjeto__estilos--titulo {
  margin-bottom: 1rem;
}

.dadosProjeto__estilos--linguagem {
  width: 100%;
  height: 3.5rem;
  border: none;
  border-radius: 8px;
  background-color: var(--form-700);
  color: var(--cinza-200);
  padding: 0 .875rem;
  margin-bottom: 1rem;
  transition: .3s;
}

.dadosProjeto__estilos--linguagem:hover {
  background-color: var(--form-500);
}

.dadosProjeto__estilos--cor {
  width: 100%;
  height: 3.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  background: transparent;
  border: 1px solid var(--branco-100);
  padding: .2rem;
}

.dadosProjeto__botao {
  width: 100%;
  height: 3.5rem;
  background-color: var(--azul-500);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  transition: .3s;
}

.dadosProjeto__botao:hover {
  background-color: var(--azul-400);
}

@media screen and (min-width: 768px) {
  .dadosProjeto__estilos--selecao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .dadosProjeto {
    margin: 0 auto 0 2.5rem;
    /* margin-right: auto; */
  }

  .dadosProjeto__infos--nome,
  .dadosProjeto__infos--descricao,
  .dadosProjeto__estilos--linguagem,
  .dadosProjeto__estilos--cor,
  .dadosProjeto__botao {
    width: 100%;
  }

  .dadosProjeto__estilos--selecao {
    display: block;
  }

  
  
}